.sectionNumber2{
  display: none;
}
:root {
  --white-color: #eeeeee;
  --dark-color: #222831;
  --lightDark-color: #393e46;
  --ocean-color: #00adb5;
}
.loadingScreen {
  z-index: 100;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.innerContainer {
  color: var(--lightDark-color);
  background-color: #eeeeee;
  padding: 1% ;
  border: 20px outset #00adb5;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 0 40px 0 0;
  width: 50%;
  height: min-content;
}
.loadingParagraph {
  font-size: 2vw;
}
.continue {
  width: min-content;
  font-size: 1.6vw;
  height: 2%;
}
.loadingIcon {
  font-size: 4vw;
}
.loadingIcon i{
  color: red;
}

.loadingIcon i{
  animation:breathing  3s ease-out infinite normal;
}
@keyframes breathing{
  0%{
    transform: scale(1);
  }
  25%{
    transform: scale(1.1);
  }
  60%{
    transform: scale(1);
  }
  100%{
    transform: scale(1);
  }
}