#myInput {
  width: 50%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

li {
	display: inline-block;
  margin: 5px;
}

#myUL {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.countyBtnContainer {
  margin: 20px 150px 10px 150px;
  display: flex;
}
.searchContainer {
  margin-top:40px ;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 55%;
}
