body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.chart-container {
	width: 500px;
	height: 600px;
}
.btnContainer{
  width: max-content;
  height: min-content;
}